<ion-header>
  <ion-toolbar>
    <ion-title>Lugares Salvos</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="voltarHome()">Voltar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      <h2>
        <ion-icon name="filter"></ion-icon>
        Filtros
      </h2>
    </ion-label>
    <ion-button slot="end" expand="block" (click)="limparFiltros()">
      <ion-icon slot="start" name="close-circle"></ion-icon>
      Limpar Filtros
    </ion-button>
  </ion-item>

  <ion-searchbar
    placeholder="Por Nome"
    [(ngModel)]="nomeFiltro"
    (ionInput)="aplicarFiltros()"
    debounce="200"
  ></ion-searchbar>

  <ion-item>
    <ion-select
      label="Por Categoria"
      label-placement="fixed"
      multiple="true"
      interface="popover"
      placeholder="Selecione as Categorias"
      [(ngModel)]="categoriasFiltro"
      (ionChange)="aplicarFiltros()"
    >
      <ion-select-option
        *ngFor="let categoria of categorias"
        [value]="categoria.valor"
        >{{categoria.nome}}</ion-select-option
      >
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Por Nota</ion-label>
    <ion-range
      min="0"
      max="5"
      step="0.5"
      pin="true"
      snaps="true"
      style="margin-bottom: 12px"
      [pinFormatter]="formatarValor"
      [(ngModel)]="notaMinima"
      (ionChange)="aplicarFiltros()"
    ></ion-range>
  </ion-item>

  <ion-list
    class="ion-padding"
    *ngFor="let place of lugaresFiltrados; let i = index"
  >
    <ion-label>
      <small style="color: grey">Item Nº: {{i+1}}</small>
      <h2>{{place.nome}}</h2>
      <p>Categoria: {{place.categoria}}</p>
      <p>Nota: {{place.nota}}</p>
      <p>Observações: {{place.observacoes}}</p>
      <p>{{place.data}}</p>
    </ion-label>

    <ion-button fill="outline" (click)="editarPlace(place)">
      <ion-icon slot="icon-only" name="create-outline"></ion-icon>
    </ion-button>
    <ion-button fill="outline" color="danger" (click)="excluirPlace(place.id)">
      <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
    </ion-button>
  </ion-list>
</ion-content>
