<ion-header>
  <ion-toolbar>
    <ion-title>Lugares Salvos</ion-title>
    <ion-buttons slot="start">
      <ion-button routerLink="/home">Voltar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Filtrar por Categoria</ion-label>
    <ion-input
      [(ngModel)]="categoriaFiltro"
      (ionInput)="aplicarFiltros()"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Filtrar por Nota</ion-label>
    <ion-range
      min="0"
      max="5"
      step="0.5"
      pin="true"
      snaps="true"
      [pinFormatter]="formatarValor"
      [(ngModel)]="notaMinima"
      (ionChange)="aplicarFiltros()"
      style="margin-bottom: 12px"
    ></ion-range>
  </ion-item>

  <ion-list *ngFor="let place of lugaresFiltrados; let i = index">
    <ion-label>
      <small style="color: grey">Item Nº: {{i+1}}</small>
      <h2>{{place.nome}}</h2>
      <p>Categoria: {{place.categoria}}</p>
      <p>Nota{{place.nota}}</p>
      <p>Observações: {{place.observacoes}}</p>
      <p>{{place.data}}</p>
    </ion-label>
    <ion-button fill="outline" (click)="editarPlace(place)"
      ><ion-icon slot="icon-only" name="create-outline"></ion-icon
    ></ion-button>
    <ion-button fill="outline" color="danger" (click)="excluirPlace(place.id)"
      ><ion-icon slot="icon-only" name="trash-outline"></ion-icon
    ></ion-button>
  </ion-list>
</ion-content>
